.page-list-wrapper {
  .list-item {
    position: relative;
    background: #fff;
  }
  .list-item-status {
    height: rem(40);
    line-height: rem(40);
    padding: 0 rem(20) 0 rem(30);
  }
  .list-item-container {
    padding: rem(15) rem(20) rem(10) rem(30);
    .list-item-container_desc {
      line-height: rem(20);
    }
  }
  .list-item-link {
    position: absolute;
    right: rem(20);
    bottom: rem(15);
    cursor: pointer;
  }
  .skeleton-item {
    padding: rem(10) rem(20) rem(10) rem(30)!important;
    background: #fff;
  }
  .page-pull-refresh-bottom {
    height: rem(40);
    line-height: rem(40);
    text-align: center;
  }
}
